@model EmployeeRoleViewModel

@{
	ViewBag.Title = "employees";
	var pagedList = Html.PagedList(Model.employee_model.PagesInfo.ItemsCount, Model.employee_model.PagesInfo.ItemsPerPage, Model.employee_model.PagesInfo.CurrentPage,
		Model.employee_model.PagesInfo.DisplayedPages, pageNumber => Url.Action(Url.GetAction(), new
		{
			page = pageNumber
		}), new PagedListExtensions.PagedListRenderParams());
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<a asp-action="Update" class="btn btn-outline-primary">Добавить</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Полное имя</th>
					<th class="text-center">Дата рождения</th>
					<th class="text-center">Номер телефона</th>
					<th class="text-center">ID роли</th>
					<th class="text-center">Дата принятия</th>
					<th class="text-center">Зарплата</th>
					@if (User.IsInRole(nameof(UserRole.Developer)))
                    {
					<th class="text-center">Действия</th>
					}
				</tr>
				@foreach (var item in Model.employee_model.Objects)
				{
					var role_name = Model.employeerole_model.Objects.Where(role_name => role_name.Id == item.RoleId).ToList();

					<tr>
						<td class="text-center">
							@item.Id
						</td>
						<td class="text-center">
							@item.FullName
						</td>
						<td class="text-center">
							@item.DateOfBirth
						</td>
						<td class="text-center">
							@item.Phone
						</td>
						<td class="text-center">
							@Html.Raw(string.Join(" ", role_name.Select(s => string.Format(" {0}", s.RoleName))))
						</td>
						<td class="text-center">
							@item.HireDate
						</td>
						<td class="text-center">
							@item.Salary
						</td>

						@if (User.IsInRole(nameof(UserRole.Developer)))
                        {
						<td class="text-center">

							<a asp-action="Update" asp-route-id="@item.Id">Изменить</a><br/>
							<a asp-action="Delete" asp-route-id="@item.Id" class="delete-object-button">Удалить</a>
						</td>
						}

					</tr>
				}
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>
