@model MedicineViewModel

@{
	ViewBag.Title = "medicine";

	var pagedList = Html.PagedList(Model.IIO_model.PagesInfo.ItemsCount, Model.IIO_model.PagesInfo.ItemsPerPage, Model.IIO_model.PagesInfo.CurrentPage,
		Model.IIO_model.PagesInfo.DisplayedPages, pageNumber => Url.Action(Url.GetAction(), new
		{
			page = pageNumber
		}), new PagedListExtensions.PagedListRenderParams());
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<a asp-action="Update" class="btn btn-outline-primary">Добавить</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">ID медикаментов</th>
					<th class="text-center">Количество</th>
					@if (User.IsInRole(nameof(UserRole.Developer)))
                    {
					<th class="text-center">Действия</th>
					}
				</tr>
				@foreach (var item in Model.IIO_model.Objects)
				{
					var medicine_name = Model.medicine_model.Objects.Where(medicine_name => medicine_name.Id == item.MedicineId).ToList();
					<tr>
						<td class="text-center">
							@item.Id
						</td>
						<td class="text-center">
							@Html.Raw(string.Join(" ", medicine_name.Select(s => string.Format(" {0}", s.MedicineName))))
						</td>
						<td class="text-center">
							@item.Quantity
						</td>
						@if (User.IsInRole(nameof(UserRole.Developer)))
                        {
						<td class="text-center">

							<a asp-action="Select" asp-route-id="@item.Id">Выбрать</a><br/>
							<a asp-action="Update" asp-route-id="@item.Id">Изменить</a><br/>
							<a asp-action="Delete" asp-route-id="@item.Id" class="delete-object-button">Удалить</a>
						</td>
						}

					</tr>
				}
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>
